extends layout

block header
  link(rel='stylesheet', href='/stylesheets/goods-new.css')

block content
  .container
    .jumbotron.jumbotron-transparent
      h1.titre Modification de votre annonce
    br

    .card.box-shadow
      .card-body
        if errors
          for err in errors
            .alert.alert-danger #{err.msg}
        if successMessage
          .alert.alert-success #{successMessage}

        form(action='/goods/edit/' + offer.id method='post' enctype="multipart/form-data")
          .form-group.row
            label.col-lg-3.col-form-label Titre de l'annonce
            .col-lg-9
              input.form-control(name="title", type="text" value=offer.title)

          .form-group.row
            label.col-lg-3.col-form-label Description
            .col-lg-9
              textarea.form-control(name="description", type="text") #{offer.description}
          .form-group.row
            .form-check.form-check-inline.mar10.decright
              if offer.pool == 1
                input.form-check-input(name="pool" type="checkbox" id="inlineCheckbox1" value="1" checked)
              else
                input.form-check-input(name="pool" type="checkbox" id="inlineCheckbox1" value="1")
              label.form-check-label(for="inlineCheckbox1") Piscine
            .form-check.form-check-inline.mar10
              if offer.garden == 1
                input.form-check-input(name="garden" type="checkbox" id="inlineCheckbox2" value="1" checked)
              else
                input.form-check-input(name="garden" type="checkbox" id="inlineCheckbox2" value="1")
              label.form-check-label(for="inlineCheckbox2") Jardin
            .form-check.form-check-inline.mar10
              if offer.citycenter == 1
                input.form-check-input(name="citycenter" type="checkbox" id="inlineCheckbox3" value="1" checked)
              else
                input.form-check-input(name="citycenter" type="checkbox" id="inlineCheckbox3" value="1")
              label.form-check-label(for="inlineCheckbox3") Centre-Ville
          .form-group.row
            label.col-lg-3.col-form-label Nombre de personnes
            .col-lg-2
              .input-group
                input.form-control(name="nbpeople", type="text" value=offer.nbpeople)
                  
          .form-group.row
            label.col-lg-3.col-form-label Type d'offre
            .col-lg-2
              select.form-control(id="offerType" name="offerType" onchange="updatePriceGroupVisibility();" selected=offer.type)
                if offer.type == '0'
                  option(value="location" selected='selected') Location
                else
                  option(value="location") Location
                if offer.type == '2'
                  option(value="hebergement" selected='selected') Hébergement
                else
                  option(value="hebergement") Hébergement
                if offer.type == '1'
                  option(value="echange" selected='selected') Echange
                else
                  option(value="echange") Echange
                  
          .form-group.row
            label.col-lg-3.col-form-label Prix par nuit
            .col-lg-2
              .input-group
                input.form-control(name="price", type="text" value=offer.price)
                .input-group-append
                  span.input-group-text €
          .form-group.row
            label.col-lg-3.col-form-label Région
            .col-lg-4
              input.form-control(name="region", type="text" value=offer.region readonly)
          .form-group.row
            label.col-lg-3.col-form-label Département
            .col-lg-4
              input.form-control(name="department", type="text" value=offer.department readonly)
          .form-group.row
            label.col-lg-3.col-form-label Ville
            .col-lg-4
              input.form-control(name="city", type="text" value=offer.city readonly)
          .form-group.row
            label.col-lg-3.col-form-label Code postal
            .col-lg-4
              input.form-control(name="postcode", type="text" value=offer.postcode readonly)
          .form-group.row
            label.col-lg-3.col-form-label Adresse
            .col-lg-4
              input.form-control(name="address", type="text" value=offer.address readonly)
          .form-group.row
            label.col-lg-3.col-form-label Disponible du
            .col-lg-4
              .input-group.date
                input.form-control.datepicker#date0(type="text" mydate=offer.avail[0].start end="date1")
                input#date0Sent(name="from" type="hidden")
            label.col-lg-1.col-form-label au
            .col-lg-4
              .input-group.date
                input.form-control.datepicker#date1(type="text" mydate=offer.avail[0].end start="date0")
                input#date1Sent(name="to" type="hidden")

          br
          .form-group.row.col-lg-4
            | Images

          .form-group.row
            .col-lg-4
              .image-upload
                label(for='file')
                  img#preview0(src=offer.images[0].path)
                input#file(type='file' name='image1' onchange='updatePreview(this);'
                           preview="preview0" accept="image/gif, image/jpeg, image/png")


            .col-lg-4
              .image-upload
                label(for='file1')
                  img#preview1(src=offer.images[1].path)
                input#file1(type='file' name='image2' onchange='updatePreview(this);'
                           preview="preview1" accept="image/gif, image/jpeg, image/png")

            .col-lg-4
              .image-upload
                label(for='file2')
                  img#preview2(src=offer.images[2].path)
                input#file2(type='file' name='image3' onchange='updatePreview(this);'
                           preview="preview2" accept="image/gif, image/jpeg, image/png")
          button.form-control.btn.btn-success(type="submit") Modifier

block scripts
  script(src="/js/goods.js")
