.card
  .card-body
    h4.card-title Conversation avec #{destinataire.firstName}
    if messages.length == 0
      p Aucun messages pour le moment
    for msg in messages
      .row
        .col.pl-0
          if msg.sourceUserId == myId
            .float-right
              .alert.alert-primary #{msg.content}
          else
            .float-left
              .alert.alert-secondary #{msg.content}
            
  
    form#sendMessage(action='/message' method='post'
                     sourceUserId=source.id destUserId=destinataire.id
                     reservationId=reservationId)
      .form-row.pr-4
        .col-lg-10
          input#content.form-control(type='text')
        .col-lg-2
          button.btn.btn-primary(type='submit') Envoyer
