extends layout
block header
    link(rel='stylesheet', href='/stylesheets/reservation.css')

block content
    if errorMessage
      div(class='alert alert-danger' role='alert') #{errorMessage}
    if successMessage
      div(class='alert alert-success' role='alert') #{successMessage}
    .container
      .color

        h4() Récapitulatif de votre demande de réservation

        p() Votre numéro de reservation : #{idResa}

        p() Arrivée le : #{from}

        p() Départ le : #{to}

        p() Nombre de personnes voyageant : #{numberpers}
