extends layout

block header
    link(rel='stylesheet', href='/stylesheets/search.css')

block content
  .container
    if house.lgt < 1
      h1(class="zres1" id="zress") Oups ! 
      h1(class="zres1") Aucun résultat pour #{search.text} ..
      a(class="zres3" href="/")
        div(class="zres2") Nouvelle Recherche
    if house.lgt > 0
      h1(class="res1") #{search.text}
      h3 Offres correpondant à votre recherche : #{house.lgt}
      div(class="container")
        div(class="row justify-content-around")
          each row in house.data
            each elem in row
              a(class="col-lg-4 square" href="goods/" + elem.id)
                img(class="Offer_Image" src="images/maison_search.png")
                p(class="Offer_Title") #{elem.title}
                p(class="Offer_Price") #{elem.price}€
                p(class="Offer_Night")  la nuit.
                p(class="Offer_Nb_People") #{elem.userId} Personnes
                  //- Changer userId par Nb_personne
            div(class="w-100")
