extends layout

block header
    link(rel='stylesheet', href='/stylesheets/search.css')

block content
  .container
    h1 Barre de Recherche : #{Search}
    h1 Nombre de Recherche : #{Result.Lenght}
    h1 Resultat Recherche : #{Result.Data}
    h1 Nombre de Maison : #{Maison.Lenght}
    if Maison.Lenght < 1
      h1 Aucun Résultat pour : #{Search}
    if Maison.Lenght > 0
      div(class="container")
        div(class="row justify-content-around")
          each row in Maison.Data
            each House in row
              a(class="col-lg-4 square" href="goods/" + House[0])
                  img(class="Offer_Image" src="images/maison_search.png")
                  p(class="Offer_Title") #{House[1]}
                  p(class="Offer_Price") #{House[2]}€
                  p(class="Offer_Night")  la nuit.
                  p(class="Offer_Nb_People") #{House[3]} Personnes
            div(class="w-100")
