extends layout

block header
    link(rel='stylesheet', href='/stylesheets/search.css')

block content
  div(class="container")
    if house.total_lgt < 1
      h1(class="zres1" id="zress") Oups !
      h1(class="zres1") Aucun résultat pour #{search.text} ..
      a(class="zres3" href="/")
        div(class="zres2") Nouvelle Recherche
    if house.total_lgt > 0
      div(class="jumbotron jumbotron-transparent")
        h1.titre #{search.text}
        div(class="nbres1")
          div(class="nbres2")
            if house.total_lgt > 1
              h3 #{house.total_lgt} Résultats
            else
              h3 #{house.total_lgt} Résultat
        if (!!search.datedep || !!search.datearr || !!search.numberpers || !!search.pool || !!search.garden || !!search.city)
          div(class="recavance")
            div(class="recavance1")
              if !!search.datedep
                div(class="recavance2")
                  img(src="images/icons/calendar.png")
                  span   #{search.datedep}
              if !!search.datearr
                div(class="recavance2")
                  img(src="images/icons/calendar.png")
                  span   #{search.datearr}
              if !!search.numberpers
                div(class="recavance2")
                  img(src="images/icons/people.png")
                  span   #{search.numberpers}
              if !!search.pool
                div(class="recavance2")
                  img(src="images/icons/pool.png")
                  span   Piscine
              if !!search.garden
                div(class="recavance2")
                  img(src="images/icons/leaf.png")
                  span   Jardin
              if !!search.city
                div(class="recavance2")
                  img(src="images/icons/city.png")
                  span   Centre-Ville
      div(class="container contour")
        div(class="row justify-content-around")
          each row in house.data
            div(class="card-deck pad")
              each elem in row
                if !elem
                  div(class="card inutile")
                else
                  a(class="hover-style box-shadow card square" href="goods/" + elem.id)
                    img(class="card-img-top remove-border Offer_Image" src=elem.path alt="Card image cap")
                    div(class="card-body")
                      p(class="Offer_Title")   #{elem.title}
                      if elem.Hebergement ==1
                        p(class="Offer_Price") Hébergement Gratuit
                      else if elem.Echange ==1
                        p(class="Offer_Price") Echange de Maison
                      else
                        p(class="Offer_Price")   #{elem.price}€
                        p(class="Offer_Night")  la nuit.
                      if elem.nbCom == 0
                        p(class="Offer_nbCom yellow") NOUVEAU
                      else
                        p(class="Offer_nbCom") (#{elem.nbCom})
                        - for (var x = 0; x < elem.avg; x++)
                          p(class="Offer_Note") &#9733
                      p(class="Offer_Nb_People")   #{elem.nbpeople} Personnes

      a(class="zres3" href="/")
        div(class="zres2 zres4") Nouvelle Recherche
      if page.count != 1
        - var i = 1
        nav(aria-label="Page navigation example")
          ul(class="pagination justify-content-center pagcolor")
            if page.current == 1
              li(class="page-item disabled" tabindex="-1")
                a(class="page-link" href="") Précedent
            else
              li(class="page-item")
                a(class="page-link" href="search" + url.base + "&page=" + page.inf) Précédent
            while i <= page.count
              if page.current == i
                li(class="page-item active")
                  a(class="page-link pagact" href="search" + url.base + "&page=" + i)=i++
              else
                li(class="page-item")
                  a(class="page-link" href="search" + url.base + "&page=" + i)=i++
            if page.current == page.count
              li(class="page-item disabled" tabindex="-1")
                a(class="page-link" href="") Suivant
            else
              li(class="page-item")
                a(class="page-link" href="search" + url.base + "&page=" + page.sup) Suivant
