h5.card-title Mes Réservations
.card-content
  if reservations.length > 0
    ul.list-group
      each res, i in reservations
        li.list-group-item
          .col-lg-3.img-col
            .crop
              img.offer-img(src=res.path)
          .col-lg-12
            h5
              a(href="/goods/" + res.offerId) #{res.title} 
              case res.type
                when 0
                  | (Location) à #{res.price} € par nuit
                when 1
                  | (Echange)
                when 2
                  | (Hébergement)
            br
            .row
              .col-lg-6
                h6 Du #{res.from} au #{res.to}
                if res.past && res.commentsCount == 0
                  h6 Etat de la réservation : 
                    span.text-success.font-weight-bold Effectuée
                else if res.past && res.commentsCount > 0
                  h6 Etat de la réservation :
                    span.text-success.font-weight-bold Effectuée et commenté
                else if res.status == 0
                  h6 Etat de la réservation : 
                    span.text-warning.font-weight-bold En attente
                else
                  h6 Etat de la réservation : 
                    span.text-success.font-weight-bold Acceptée

              if res.past && res.commentsCount == 0
                .col-lg-6
                  .text-right
                    button.btn.btn-primary(data-toggle="modal" data-target="#modal" + i) Laisser un avis

        .modal.fade(id="modal" + i)
          .modal-dialog
            .modal-content
              .modal-header
                h5.modal-title Commentaire
                button.button.close(data-dismiss="modal" aria-label="Close")
              .modal-body
                .container-fluid
                  form#commentForm(offer-id=res.offerId modal-id="modal" + i action="/comment" method="POST")
                    .form-group.row
                      label(for="rating") Note:
                      input.form-control#rating(name="rating" type="number" min=0 max=5 step=1 required)
                    .form-group.row
                      label(for="content") Commentaire:
                      textarea.form-control#content(name="content" required)
              .modal-footer
                button.btn.btn-secondary(data-dismiss="modal") Fermer
                input.btn.btn-primary(type="submit" form="commentForm" value="Valider")
  else
    p Vous n'avez pas encore fait de réservations
